html,body{margin:0;padding:0;}

#land{
	width: 100%;
	height: 100%;
	position: relative;
	background: #22313F;
}
#land header{
	position: absolute;
	top: 25px;
	width: 100%;
	text-align: center;
	z-index: 3;
}
#land header h1{margin:0;}
#land header h1 a{
	color: #fff;
	text-decoration: none;
	font-size: 55px;
	font-family: 'Lobster',sans-serif;
}
#land header small{
	color: #fff;
	font-size: 14px;
	font-family: 'Open sans',sans-serif;
	padding: 25px 0;
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: .5;
}
#land header small a{
	color: #3498DB;
	text-decoration: underline;
	font-size: 14px;
}

#land nav{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#land nav > div{
	width: 25%;
	height:100%;
	float: left; 
	text-align: center;
	cursor: pointer;
	position: relative;
}
#land nav > div span{
	display: inline-block;
	margin-top: 85%;
	position: relative;
	transition:.6s margin-top;
	-webkit-transition:.6s margin-top;
	z-index: 2;
}
#land nav > div:hover span{
	margin-top: 80%;
}
#land nav > div span:before{
	font-size: 35px;
	color: #fff;
}

#land nav > div a{
	opacity: 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 26px;
	font-family: 'Oswald',sans-serif;
	padding-top: 15px;
	display: block;
	z-index: 5;
  	position: relative;
}
#land nav > div:hover a{
	opacity: 1;
}

#land nav > div > div.imgContainer{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	opacity: 0;
	transition:.6s opacity;
	-webkit-transition:.6s opacity;
	transition-delay:.4s;
	-webkit-transition-delay:.4s;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#land nav > div:hover > div.imgContainer{
	opacity: .35;
}

#land nav > div > div.imgContainer[anchor]{background: url(../images/p1.jpg) no-repeat center center fixed;}
#land nav > div > div.imgContainer[cloud]{background: url(../images/p2.jpg) no-repeat center center fixed;}
#land nav > div > div.imgContainer[box]{background: url(../images/p3.jpg) no-repeat center center fixed;}
#land nav > div > div.imgContainer[shuffle]{background: url(../images/p4.jpg) no-repeat center center fixed;}


/*---Articles*/
#contents{}

#contents article{
	width: 100%;
	min-height: 100%;
	background: #22313F;
	overflow: hidden;
	position: relative;
}
#contents article .leftpanel{
	width: 25%;
	height:100%;
	float: left; 
	text-align: center;
	cursor: default;
	position: relative;
}
#contents article .leftpanel span{
	display: inline-block;
	margin-top: 18%;
	position: relative;
	transition:.6s margin-top;
	-webkit-transition:.6s margin-top;
	z-index: 2;
}
#contents article .leftpanel:hover span{
	margin-top: 20%;
}
#contents article .leftpanel span:before{
	font-size: 55px;
	color: #fff;
}

#contents article .leftpanel > div.imgContainer{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	opacity: .35;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contents article .leftpanel > div.imgContainer[anchor]{background: url(../images/p1.jpg) no-repeat center center fixed;}
#contents article .leftpanel > div.imgContainer[cloud]{background: url(../images/p2.jpg) no-repeat center center fixed;}
#contents article .leftpanel > div.imgContainer[box]{background: url(../images/p3.jpg) no-repeat center center fixed;}
#contents article .leftpanel > div.imgContainer[shuffle]{background: url(../images/p4.jpg) no-repeat center center fixed;}



#contents article content{
	width: 75%;
	overflow: hidden;
	text-align: center;
	float: left;
}
#contents article content h2{
	color:#fff;
	font-family: 'Oswald',sans-serif;
	font-size: 34px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-left: 2.5%;
	width: 95%;
  	text-align: center;
}
#contents article content p{
	color:#fff;	
	width: 80%;
	text-align: left;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	margin-left: 5%;
}

footer{
	width: 100%;
	height: 350px;
	background: #2C3E50;
	text-align: center
}
footer h2{padding: 40px 0;margin: 0;}
footer h2 a{
	color: #fff;
	text-decoration: none;
	font-size: 45px;
	font-family: 'Lobster',sans-serif;
}
footer small{
	color: #fff;
	font-size: 14px;
	font-family: 'Open sans',sans-serif;
	padding: 25px 0;
}
footer small a{
	color: #3498DB;
	text-decoration: underline;
	font-size: 14px;
}



@media screen and (max-width: 768px){
	#land header{
		top: 20px;
		left: 20px;
		width: auto;
	}
	#land header h1 a{font-size: 30px;}

	#land nav > div{
		width: 100%;
		height:25%;
		float: left; 
		text-align: center;
		cursor: pointer;
		position: relative;
	}
	#land nav > div span{
		display: inline-block;
		margin-top: 9.5%;
		position: relative;
		transition:.6s margin-top;
		-webkit-transition:.6s margin-top;
		z-index: 2;
	}
	#land nav > div:hover span{
		margin-top: 9.5%;
	}
	#land nav > div a{
		opacity: 1;
		font-size: 18px;
		padding-top: 15px;
	}
	#land nav > div:hover > div.imgContainer{
		opacity: 0;
	}

	/*---Articles*/

	#contents article .leftpanel{
		width: 100%;
		height: 220px;
		float: none;
		text-align: center;
		cursor: default;
	}
	#contents article .leftpanel span{
		margin-top: calc(110px - 30px);
		z-index: 2;
	}
	#contents article .leftpanel:hover span{
		margin-top: calc(110px - 30px);
	}
	#contents article .leftpanel span:before{
		font-size: 55px;
		color: #fff;
	}


	#contents article content{
		width: 95%;
		overflow: hidden;
		float: left;
		padding-bottom: 60px;
	}
	#contents article content h2{
		color:#fff;
		margin: 35px 0 35px 5%;
  		width: 95%;
	}
	#contents article content p{
		width: 95%;
		margin-left: 5%;
		text-align: justify;
	}
}













